html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: #EEE;
	color: #333333;
	font-family: "Helvetica Neue","Lucida Grande","Helvetica Neue",Arial,sans-serif;
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0;
	min-width: 950px;
	padding: 0;
}

h2.article {
	line-height: 1;
	font-size: 2em;
	margin: 0 0 10px;
	background: #DDD;
	padding: 5px;
	color: #666;
}

h2.article .path,
h2.article .version{
	margin: 0;
	color: #333;
}

.informations {
	color: #666;
	padding: 5px;
	background: #DDD;
}
.informations .date,
.informations .user {
	color: #333;
	background: #CCC;
}

div#container {
	width: 100%;
	background: #fff;
	padding: 0;
	margin: 0;
}


.edition input.field {
	margin: 5px 0;
	font-size: 100%;
	font-family: Lucida console, monospace;
	border: 1px solid #CCC;
}

.edition input.large {
	width: 100%;
}

.edition textarea.field {
	width: 100%;
	height: 300px;
	margin: 5px 0;
	font-size: 100%;
	font-family: Lucida console, monospace;
	border: 1px solid #CCC;
}

.commands {
	margin: 10px 0;
}

.commands a.button {
	background:  #F7F7F7;
	border:  1px solid #CCCCCC;
	color:  #555555;
	margin-right: 5px;
	padding:  2px 5px;
	text-decoration: none;
}
.commands a.help {
	background-color: #DDD;
	color: #333;
}

.button.big {
	font-size: 1.4em;
}

input.button {
	background:  #F7F7F7;
	border:  1px solid #CCCCCC;
	color:  #555555;
	margin-right: 5px;
	padding:  2px 5px;
}

.commands a.button:hover, .commands a.button:active {
	border: 1px solid #AAAAAA;
	color: #111111;
}

.commands span.current {
	background-color: #555555;
	border: 1px solid #444444;
	color: #FFFFFF;
	font-weight: bold;
	margin-right: 5px;
	padding: 2px 5px;
}

.messages {
	margin: 20px 0;
}

.message {
	margin: 10px 0;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	color: white;
}

.error {
	background-color: #D23D24;
}
.success {
	background-color: #55B05A; 
}
.warning {
	background-color: #EEA500; 
}

#header {
	background-color: #333;
	width: 100%;
}
#header #breadcrumbs {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	overflow:auto;
	padding:0;
	line-height: 20px;
}

#header #breadcrumbs li {
	background:transparent url(../images/breadcrumbs_right_arrow.png) no-repeat scroll 3px center;
	display:inline;
	float:left;
	padding-left: 10px;
	margin:0 0.2em 0 0;
	padding-left:15px;
	white-space:nowrap;
	font-size: 14px;
}
#header #breadcrumbs li.first {
	background: transparent;
}

#breadcrumbs li a {
	text-decoration:none;
}

#breadcrumbs li a:hover {
	text-decoration: underline;
}

#header a, #header {
	color: #FFFFFF;
}

#main {
	padding: 10px;
}

#footer {
	margin-top: 50px;
	font-size: 12px;
	text-align: center;
}



.article-content,
.entry-list {
	background: #fff;
	padding: 10px;
}

table.history {
	width: 100%;
	border-collapse: collapse;
	background: #FFF;
}
table.history th, table.history td {
	padding: 5px;
}
table.history th {
	text-align: left;
	color: #D23D24;
	border-bottom: 1px solid #AAA;
}
table.history td {
	border-bottom: 1px solid #DDD;
}


