#{extends 'main.html' /}
#{set title:"${article.path} - Wig" /}

<div id="header">
	<ol id="breadcrumbs">
		<li class="first"><a href="@{Wiki.index}">wig</a></li>
		#{list items: article.parent.split(), as: 'category'}
		<li><a href="@{Wiki.show(category.path)}">${category.name}</a></li>
		#{/list}
		<li>${article.name}</li>
	</ol>
</div>


<div id="main">

#{if !article.exists}
	<div class="message warning">You're about to create a new article.</div>
#{/if}


<form class="edition" action="/${article.path.raw()}" method="POST">

	<div class="commands">
		<input type="submit" class="button" value="Enregistrer" />
		<input type="button" class="button" value="Apercu" onclick="wig.preview()"/>
		<input type="button" class="button" value="Annuler" onclick="wig.show('/${article.path.raw()}')" />
	</div>

 	<input class="large field" name="article.path" value="${article.path.raw()}" disabled="disabled" />
 	<textarea class="large field" name="article.content">${article.content?.raw()}</textarea>
	
	<br>
	
	<input class="field" name="article.version.user" /> Username<br>
	<input class="field" name="article.version.comment" /> Comment
	
	<br>
	
	<div class="commands">
		<input type="submit" class="button" value="Enregistrer" />
		<input type="button" class="button" value="Apercu" onclick="wig.preview()"/>
		<input type="button" class="button" value="Annuler" onclick="wig.show('/${article.path.raw()}')" />
	</div>
</form>

</div>