#{extends 'main.html' /}
#{set title:"${article.path} - Wig" /}

<div id="header">
	<ol id="breadcrumbs">
		<li class="first"><a href="@{Wiki.index}">wig</a></li>
		#{list items: article.parent.split(), as: 'category'}
		<li><a href="@{Wiki.show(category.path)}">${category.name}</a></li>
		#{/list}
		<li>${article.name}</li>
	</ol>
</div>

<div id="main">

<div class="commands">
	<a href="@{Wiki.show(article.path)}" class="button">Show current</a>
</div>

<table class="history">
	<tr>
		<th>Version</th>
		<th>Date</th>
		<th>By</th>
		<th>Comment</th>
		
	<tr>
	
	#{list items:history, as:'version'}
	<tr>
		<td><a href="@{Wiki.version(article.path, version.version)}">${version.version}</a></td>
		<td>${version.date.since()}</td>
		<td>${version.user}</td>
		<td>${version.comment}</td>
		
	</tr>
	#{/list}
	
</table>
</div>
