#{extends 'main.html' /}
#{set title:"Wig" /}

<div id="header">
	<ol id="breadcrumbs">
		<li class="first"><a href="@{Wiki.index}">wig</a></li>
	</ol>
</div>

<div id="main">
<h2 class="wig-title">Consult</h2>

<em>Insert article name (e.g. fruits/apples/granny).</em>
<form onsubmit="return wig.show(this.path.value);">
	<input type="text" id="path" name="path" />
	<input type="submit" value="Show" />
</form>

<br><br>


<div class="entry-list">
	<h2>Index</h2>
	<ul>
		#{list items:entries, as:'entry'}
		<li><a href="@{Wiki.show(entry.path)}">${entry.name} #{if entry.leaf}(article)#{/if}</a></li>
		#{/list}
	</ul>
</div>

</div>