#{extends 'main.html' /}
#{set title:"${article.path} - Wig" /}

<h1 class="wig-title"><a href="/">&{'wig.title'}</a> show</h1>

<h2 class="wig-title">
	Article: ${article.path}
	#{if article.exists} 
	<span class="wig-version">Version: ${article.version?.version}</span> 
	#{/if}
	#{else}
	<span class="wig-message">does not exist</span>
	#{/else}
</h2>

#{if article.exists}
	
	<div class="wig-commands">
		#{if article.editable}
		[<a href="@{Wiki.edit(article.path.raw())}">edit</a>]
		#{/if}
		[<a href="@{Wiki.history(article.path.raw())}">history</a>]
	</div>
	
	<div class="wig-content">
		${html.raw()}
	</div>
#{/if}
#{else}
	<p>
		<a href="/${article.path.raw()}.edit">Create ${article.path} article</a> or 
		<a href="@{Wiki.index}">search</a> anything else.
	</p>
#{/else}

#{if entries != null}
<h2 class="wig-title">
	Category: ${article.path}
	#{if !entries.empty}
	<span class="wig-message">entries</span>
	#{/if}
	#{else}
	<span class="wig-message">no entry</span>
	#{/else}
	
</h2>
#{if !entries.empty}
<ul>
	#{list items:entries, as:'entry'}
	<li><a href="@{Wiki.show(entry.path)}">${entry.name}</a></li>
	#{/list}
</ul>
#{/if}
#{/if}


