#{extends 'main.html' /}
#{set title:"${article.path} - Wig" /}

<div id="header">
	<ol id="breadcrumbs">
		<li class="first"><a href="@{Wiki.index}">wig</a></li>
		#{list items: article.parent.split(), as: 'category'}
		<li><a href="@{Wiki.show(category.path)}">${category.name}</a></li>
		#{/list}
		<li>${article.name}</li>
	</ol>
</div>

<div id="main">
#{if article.exists} 
	<div class="informations">
		Last edition <em>${article.version.date.since()}</em> by <em>${article.version.user}</em>
		(<a href="@{Wiki.history(article.path.raw())}">show history</a>).
	</div>

	#{if flash.success}
	    <div class="message success">${flash.success}</div>
	#{/if}

	<div class="commands">
		<a href="@{Wiki.edit(article.path.raw())}" class="button">Edit</a>
	</div>
	
	<div class="article-content">
		${html.raw()}
	</div>
	<br>
#{/if}
#{else}
	<div class="message warning">	
		L'article n'existe pas.
	</div>

	<div class="commands">
		<a href="/${article.path.raw()}.edit" class="button big">Create article "${article.name}" &raquo;</a>
	</div>

#{/else}

#{if !entries.empty}		
<div class="entry-list">
	<h2>See also</h2>
	<ul class="entries">
		#{list items:entries, as:'entry'}
		<li><a href="@{Wiki.show(entry.path)}">${entry.name} 
		#{if entry.leaf}
			(article)
		#{/if}
		</a></li>
		#{/list}
	</ul>
#{/if}

</div>
